.background {
	background-color: white;
}

.avatar {
	border-radius: 100px;
	width: 80px;
	height: 80px;
}

.avatar-fab {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	line-height: 35px;
	background-color: green;
}


.sex-segment {
	width: 70%;
	background-color: rgb(234, 237, 230);
}

.sex-segment button {
	padding: 3px;
}
