<ons-page>
  <div class="background"></div>
  <ons-toolbar class="mt-4">
    <div class="left">
      <ons-button modifier="material--flat" class="text-dark-green" ripple icon="fa-arrow-left"></ons-button>
    </div>
    <div class="center text-center text-dark-green">Edit profile</div>
    <div class="right">
      <ons-button modifier="material--flat" class="base-gradient text-white mr-2">Save</ons-button>
    </div>
  </ons-toolbar>
  <div class="content">
    <div class="d-flex justify-content-center mt-5">
      <ons-segment id="segment" class="shadow-none sex-segment">
        <button class="text-dark-green">Male</button>
        <button class="text-dark-green">Female</button>
      </ons-segment>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <span class="position-relative d-inline-block">
        <img class="avatar" src="assets/empty-person.jpg" />
        <ons-fab modifier="mini" class="base-gradient shadow-none avatar-fab text-white">+</ons-fab>
      </span>
    </div>
    <div class="mt-5 mx-3 form-group">
      <label for="nameInput">Field name</label>
      <ons-input input-id="nameInput" type="text" [(ngModel)]="moqData.name"></ons-input>
    </div>
    <div class="mt-4 mx-3 form-group">
      <label for="emailInput">Email</label>
      <ons-input input-id="emailInput" type="email" [(ngModel)]="moqData.email"></ons-input>
    </div>
    <div class="mt-4 mx-3 form-group">
      <label for="dobInput">Date of birth</label>
      <ons-input input-id="dobInput" type="date" [(ngModel)]="moqData.dob"></ons-input>
    </div>
  </div>
</ons-page>
