.background {
	background-color: white;
}

.h-40 {
	height: 40%;
}

.header-text{
	font-weight: 500;
	font-size: 25px;
}

.sub-text {
	font-size: 13px;
}

.header {
	padding-top:50px;
	padding-bottom: 100px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
