<ons-page>
  <div class="background"></div>
  <div class="content">
    <div class="base-gradient header">
      <ons-button modifier="material--flat" ripple class="text-white" icon="fa-arrow-left"></ons-button>
      <div class="text-white" style="padding-left:16px;">
        <div class="header-text">Sign in</div>
        <div class="sub-text">Enter your personal data to sign in.</div>
      </div>
    </div>
    <div class="mt-5 mx-2 mb-0 form-group">
      <label for="emailInput">Email</label>
      <ons-input input-id="emailInput" type="email"></ons-input>
    </div>
    <span class="mx-2 text-success-sm">Required</span>
    <div class="mt-4 mx-2 mb-0 form-group form-group-danger">
      <label for="passwordInput">Password</label>
      <ons-input input-id="passwordInput" type="password" toggleVisibility></ons-input>
    </div>
    <span class="mx-2 text-danger-sm">Wrong password</span>
    <div class="footer d-flex flex-column align-items-center">
      <ons-button modifier="material--flat" style="width: 90%;" class="base-gradient text-white mb-3">Sign in</ons-button>
      <div>
        Forgot password?
        <ons-icon modifier="material--flat" class="text-green mb-5" icon="fa-external-link-alt"></ons-icon>
      </div>
    </div>
  </div>
</ons-page>
