/* You can add global styles to this file, and also import other style files */
.field-icon {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
}

.base-gradient {
	background: rgb(87,177,45) !important;
	background: linear-gradient(145deg, rgba(87,177,45,1) 53%, rgba(203,255,0,1) 100%) !important;
}

.form-group {
	background-color: rgb(250,250,250);
	color: rgb(39,72,27);
}

.form-group-danger {
	background-color: rgb(255,246,247);
}

.form-group-danger label {
	color: rgb(228,177,181);
}

.form-group label {
	font-size: 12px;
}

.text-success-sm {
	font-size: 10px;
	color: rgb(39,72,27);
}

.text-danger-sm {
	font-size: 10px;
	color: rgb(197,94,92);
}

.form-group ons-input {
	width: 100%;
}

.text-input--material {
	color: rgb(39,72,27);
}

.text-input--material__label--active {
	color: rgb(39,72,27);
}

.text-input--material:focus {
	background-image: -webkit-linear-gradient(rgb(39,72,27), rgb(39,72,27)), -webkit-linear-gradient(bottom, transparent 1px, #afafaf 1px);
	background-image: linear-gradient(rgb(39,72,27), rgb(39,72,27)), linear-gradient(to top, transparent 1px, #afafaf 1px);
}

.form-group-danger .text-input--material:focus {
	background-image: -webkit-linear-gradient(rgb(197,94,92), rgb(197,94,92)), -webkit-linear-gradient(bottom, transparent 1px, rgb(197,94,92) 1px);
	background-image: linear-gradient(rgb(197,94,92), rgb(197,94,92)), linear-gradient(to top, transparent 1px, rgb(197,94,92) 1px);
}


.text-white {
	color: white;
}

.text-green {
	color: rgb(87,177,45);
}

.text-dark-green {
	color: rgb(39,72,27);
}

.toolbar--material {
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}
